@model WebApplication2.EF.Operadora

@{
    ViewBag.Title = "Home Page";
}
<div class="container" style="margin-top:40px">
    <div class="row padding-bottom">
        <div class="col-xs-12">
            <div class="well">
                <h1 class="title"></h1>
                <p>Informe os dados abaixo:</p>
                @using (Html.BeginForm("IncluirOperadora", "Home", FormMethod.Post))
                {
                    @Html.HiddenFor(x => x.Id)
                    <div class="form-group">
                        @Html.Label("Operadora")
                        @Html.TextBoxFor(x => x.Nome, new { @class = "form-control" })
                    </div>
                    <button type="submit" class="btn btn-success">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                        Gravar
                    </button>
                }

                <table class="table table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Operadora</th>
                            <th>Alterar</th>
                            <th>Remover</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var operadora in ViewBag.Operadoras)
                        {
                            <tr>
                                <td>@operadora.Id</td>
                                <td>@operadora.Nome</td>
                                <td>
                                    <a href="AlterarOperadora/@operadora.Id"><span class="glyphicon glyphicon-pencil"></span></a>
                                </td>
                                <td>
                                    <a href="RemoverOperadora/@operadora.Id"><span class="glyphicon glyphicon-trash text-danger"></span></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>